body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background-color: rgb(33, 33, 33);
}

iframe {
  border: none;
  transform-origin: 0 0;
}

iframe.sHD {
  width: 270px;
  height: 480px;
}

iframe.qHD {
  width: 540px;
  height: 960px;
  transform: scale(0.5);
}

iframe.HD {
  width: 1080px;
  height: 1920px;
  transform: scale(0.25);
}

iframe.FourK {
  width: 2160px;
  height: 3840px;
  transform: scale(0.125);
}

#wrap {
  width: 270px;
  height: 480px;
  overflow: hidden;
}

#action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 270px;
  height: 480px;
  padding-left: 40px;
}

#download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: #205072;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#download.hidden {
  display: none;
}

#loading {
  color: white;
}

#loading.hidden {
  display: none;
}

#size {
  width: 120px;
  margin-bottom: 20px;
}
